body{
    background-color: rgb(189, 146, 230);
    /* font-family:'Times New Roman', Times, serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title{
    display: flex;
    justify-content: center;
}

.ex{
    color: brown;
}

a{
    color: white;
    background-color: blueviolet;
    text-decoration: none;
    padding: 7px;
}

a:hover{
    background-color: white;
    color:blueviolet;
}